.buttonWrapper {
  /* opacity: 0; */
}

.buttonWrapper button {
  height: 4.5rem;
  /* width: 12.3rem; */
  font-weight: 600;
  color: var(--cool-gray);
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0;
}

.hideGoBack {
  cursor: default;
  opacity: 0;
}
