.buttonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px; /* Adjust the margin value as needed */
}

.buttonWrapper button {
  height: 4.5rem;
  width: 12.3rem;
  font-weight: 600;
  background-color: var(--marine-blue);
  font-size: 1.5rem;
}
