.container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* margin-left: 10rem; */
  position: relative;
  width: 45rem;
}

.title h1 {
  color: var(--marine-blue);
  font-weight: 700;
  font-size: 2.5rem;
  margin: 4.5rem 0 0 0;
}

.title p {
  color: var(--cool-gray);
  margin: 0;
  margin: 1rem 0 4.5rem 0;
  font-size: 1.6rem;
}
